.loading {
    font: bold 25px "DM Sans";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70vh;
}

.navbar {
    background-color: #0190e2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}


.logo-img {
    width: 60px;
}

.nav-links {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.nav-link {
    color: #fff;
    font-size: 16px;
    outline: none;
    margin: 5px;
}

.navbar button {
    border-radius: 5px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border: none;
    font: 700 14px "DM Sans";
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s;
    outline: none;
}

.profile-info-button {
    background-color: #222;
}

.logout-button {
    background-color: #e2346e;
}

.profile-info-button:hover, .logout-button:hover{
    background-color: #fff;
    color: #222;
}

.dashboard {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 80px;
}
.dashboard h1 {
    text-align: center;
    margin-bottom: 40px;
}

.dashboard section {
    margin-bottom: 40px;
}

.dashboard ul {
    list-style: none;
    padding: 0;
}

.dashboard li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.dashboard li:hover {
    background-color: #f0f0f0;
}

.comment {
    background-color: #f0f0f0;
    border: 2px solid #222;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 0px 50px 50px 20px;
    overflow-wrap: break-word;
    text-align: justify;
    font-size: 18px;
}