.loading {
    font: bold 25px "DM Sans";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70vh;
}

.navbar {
    background-color: #0190e2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo-img {
    width: 60px;
}

.nav-links {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.nav-link {
    color: #fff;
    font-size: 16px;
    outline: none;
    margin: 5px;
}

.navbar button {
    border-radius: 5px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border: none;
    font: 700 14px "DM Sans";
    text-transform: uppercase;
    color: #fff;
    transition: 0.2s;
    outline: none;
}

.navbar .profile-info-button {
    background-color: #73db73;
}

.navbar .logout-button {
    background-color: #e2346e;
}

.navbar .profile-info-button:hover {
    background-color: #63b863;
}

.navbar .logout-button:hover {
    background-color: #bb1e52;
}

.dashboard {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 70px;
}
.dashboard h1 {

    text-align: center;
    margin-bottom: 40px;
}

.dashboard section {
    margin-bottom: 40px;
}

.dashboard ul {
    list-style: none;
    padding: 0;
}

.dashboard li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.dashboard li:hover {
    background-color: #f0f0f0;
}