@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--bg-light);
  overflow-x: hidden;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

img {
  -webkit-user-drag: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 80%;
  max-height: 60vh;
  overflow-y: auto;
  outline: none;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.modal-content p {
  font-size: 16px;
  margin: 5px 0;
}

.modal-content label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.modal-content input,
.modal-content select,
.modal-content textarea {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  font: normal 16px "DM Sans";
  margin-bottom: 20px;
}

.modal-content button {
  background-color: #0190e2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font: normal 16px "DM Sans";
  transition: 0.5s;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

button.close-modal {
  font: normal 20px "DM Sans";
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  float: right;
}