.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 80%;
    max-height: 75vh;
    overflow-y: auto;
    outline: none;
    text-align: left;
}

.modal-profile {
    max-width: 800px;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-content h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.modal-content span {
    font-size: 16px;
    margin: 5px;
}

.modal-content label {
    font-weight: bold;
    margin-top: 10px;
}

.modal-content input,
.modal-content select,
.modal-content textarea {
    display: block;
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid #ccc;
    font: normal 16px "DM Sans";
    margin-bottom: 20px;
}

.modal-content button {
    background-color: #0190e2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font: normal 16px "DM Sans";
    transition: 0.5s;
}

.modal-content button:hover {
    background-color: #0056b3;
}

.data-content {
    padding-bottom: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

button.close-modal {
    font: normal 20px "DM Sans";
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
}